*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style-type: none;
}

body{
    color:#3E4156;
    font: 14px "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width:100%;
}

.topmenu{
    display: flex;
    width: 100%;
    background: #3E4156;
}

.search-container{
    display: none;
}


#search_hide{
    display: flex;
    width: 100%;
    height: 50px;
    margin-right: 10px;
    justify-content: flex-end;
    align-items: center;
}


.topmenu .search-container input {
    padding: 8px;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid #9CA3DA;
    width: 250px;
}

.search-container button {
    padding: 8px 15px;
    background-color: #2bbaff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.search-container input:hover{
    border: 1px solid #2bbaff;
}


.topmenu .search-container button:hover {
    background-color: #9CA3DA;
}

.bg{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #2bbaff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.bg h2{
    position: relative;
    text-align:center;
    color:white;
    font-size: 50px;
    margin-bottom: 50px;
}

.title{
    margin:50px 0 20px 0;
    text-align:center;
    color:#3E4156;
}


.skewedOne{
    position: absolute;
    bottom: -100%;
    left: 40%;
    width: 100%;
    height: 100%;
    background: #3E4156;
    transform: skewY(-15deg);
    transform-origin: top left;
}

.skewedTwo{
    position: absolute;
    bottom: -100%;
    right: 40%;
    width: 100%;
    height: 100%;
    background: #3E4156;
    transform: skewY(15deg);
    transform-origin: top right;
}



#menu_hide{
    display: none;
}




.mainWrap{
    width:100%;
    margin:0 auto;
}


nav{
    display:block;
    background:#3E4156;

}
.menu{
    display:flex;
    justify-content: center;
}

.menu li{
    display: inline-block;
    position: relative;
    z-index:100;
}
.menu li:first-child{
    margin-left:0;
}

.menu li a {
    font-weight:600;
    text-decoration:none;
    padding:11px;
    display:block;
    color:#ffffff;
    font-size: 17px;


    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, 
.menu li:hover > a{
    color:#ffffff;
    background:#9CA3DA;
}



.menu ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    top: 43px;
    left: 0px;
    background: #ffffff;


}

.menu ul li {
    display:block;
    float: none;
    background:none;
    margin:0;
    padding:0;
}

.menu ul li a {
    font-size:12px;
    font-weight:normal;
    display:block;
    color:#797979;
    border-left:3px solid #ffffff;
    background:#ffffff;
}

.menu ul li a:hover, .menu ul li:hover > a{
    background:#f0f0f0;
    border-left:3px solid #9CA3DA;
    color:#797979;
}

.menu li:hover > ul{
    display: block;
}

.menu ul ul {
    left: 149px;
    top: 0px;
}

.mobile-menu{
    display:none;
    padding:11px;
    background:#3E4156;
    color:#ffffff;
    text-transform:uppercase;
    font-weight:600;
}

.mobile-menu:hover{
    background:#3E4156;
    color:#ffffff;
    text-decoration:none;
}

.advice{
    background-color:#9CA3DA;
}




@media (max-width: 480px) {}
@media (max-width: 320px) {}

/**
header {
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background:#ffffff url("../images/bkg.jpg") no-repeat 0 0;
    background:#3e4156f5;
}
**/


.container {
    background:#2bbaff;
    max-width: 100%;
    display: flex;
    justify-content: center; /* Распределение между .main-container и .sidebar */
}


.main-container {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    box-sizing: border-box; /* Учитывать padding в общей ширине блока */
    
}

.main-content {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-sizing: border-box; /* Учитывать padding в общей ширине блока */
    margin: 10px;
    border-radius: 15px;
    color: #817F7F;
}


.main-content .img{
    max-width: 170px;
    float: left;
    margin-right: 15px;
}

.main-content .img img {
    border-radius: 2px;
    max-width: 100%;
    height: auto;
}

.main-content h2 a:hover{
    color: #9CA3DA;
}

.main-content .info {
    width: 100%;
    margin-top: 3px;
    float: left;
    font-family: 'pt_sans_narrowregular';
    font-size: 14px;
}

.main-content .info .left {
    width: 184px;
    float: left;
}


.main-content .info .left div {
    width: 50%;
    float: left;
    padding-left: 10%;
}


.main-content .info .left div img {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 10px;
}

img {
    border: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.main-content .info .right {
    margin-left: 184px;
}

.main-content .info .right .views {
    float: left;
    color: #474747;
    background: url(images/vie.png) no-repeat 0 1px;
    font-size: 14px;
    margin-right: 15px;
}


.main-content .info .right .category {
    float: left;
    color: #474747;
    background: url(images/icon_category.png) no-repeat 0 1px;
    padding-left: 24px;
    font-size: 14px;
}

.main-content .info .right .category a {
    color: #474747;
    font-size: 14px;
}


.main-content .info .right a.more {
    background: #3E4156;
    color: #fff;
    padding: 4px 7px 5px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin-top: -4px;
}


.main-content .info .right .more:hover{
    background-color: #9CA3DA;
}

.main-content  a {
    font-size: 21px;
    margin-bottom: 5px;
    line-height: 1.2em;
    font-weight: normal !important;
}

div {
    display: block;
}


.main-content h2 {
    color: #474747;
    font-size: 23px;
    font-weight: normal;
    margin: 13px 0;
    line-height: 1.23em;
    font-family: 'pt_sansbold';
    text-align: left;
}

.main-content h2 a{
    text-decoration: none;
    color: #19a0d8;
}

.main-content p {
    margin: 13px 0;
    line-height: 1.2em;
    font-size: 15px;
}

.main-content p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    color: #474747;
    font-size: 25px;
    font-weight: normal;
    margin: 13px 0;
    line-height: 1.23em;
    font-family: 'pt_sansbold';
    text-align: left;
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.aligncenter {
    position: relative;
    margin: 15px auto;
    border: 1px solid #d9d9d9;
    background: #fff;
    padding: 5px;
    display: block;
    clear: both;
}

@media screen and (max-width: 1230px)
.aligncenter {
    max-width: 90%;
    height: auto;
}

article .info .soc {
    float: left;
}

article .info .right {
    float: right;
    color: #474747;
    font-family: 'pt_sans_narrowregular';
    position: relative;
    top: 6px;
}

.other_article {
    width: 100%;
    float: left;
}

.other_article .title {
    color: #474747;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'pt_sansbold';
    margin-top: 100px;
}


@media screen and (max-width: 1230px)
.other_article .parent {
    margin: 0 -2.5% 25px;
}

.other_article .parent {
    width: 104%;
    float: left;
    margin: 0 -2% 25px;
}

@media screen and (max-width: 1230px)
.other_article .parent section {
    width: 20.5%;
}

.other_article .parent section {
    width: 21%;
    float: left;
    margin: 0 2%;
    line-height: 0.9em;
}

.other_article .parent section a {
    font-size: 13px;
    color: #474747;
}


aside {
    margin-top: 60px;
    width: 100%;
    max-width: 300px; /* Ограничиваем максимальную ширину сайдбара */
    background-color: #fff;
    box-sizing: border-box; /* Учитывать padding в общей ширине блока */
    border-radius: 15px;
    max-height: 730px;
}


aside .title_ {
    width: 90%;
    max-width: 300px;
    padding: 10px 5% 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'pt_sansbold';
    background: #3E4156;
    box-shadow: 0 0 1px 1px #3E4156;
    color: #fff;
    border-radius: 15px 15px 0 0;
}

.article_list{
    margin: 20px;
}



.article_list a{
    color: #817F7F;
    font-size: 13px;
    text-decoration: none;
}

.article_list a:hover{
    color: #9CA3DA;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #3e4156f5;
    color: #fff;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.footer-text{
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-text p {
    text-align: center;

}

.container_f {
    max-width: 100%;
    display: flex;
    justify-content: space-around; /* Распределение между .main-container и .sidebar */

}

.link_footer {
    width: 100%;
    float: left;
    position: relative;
    padding: 33px 0 12px;
    margin-bottom: 30px;
}


.textwidget li a{
    text-decoration: none;
    color: #fff;
}

.content_footer{
    text-align: left;
    font-size: 18px;
    padding: 0 0 0 16px;
    margin: 0 0 15px;
    font-size: 15px;
    line-height: 1.90em;
}

.title__f h2{
    line-height: 2em;
}

.textwidget li a:hover{
    color: #9CA3DA;
}


@media (min-width: 985px) and (max-width: 1202px){
    .mainWrap{
        width:755px;
    }
    .menu ul {
        top:37px;
    }
    .menu li a{
        font-size:17px;
        padding:8px;
    }
}

@media (min-width: 765px) and (max-width: 979px) {

    .mainWrap{
        width:768px;
    }
    .menu ul {
        top:37px;
    }
    .menu li a{
        font-size:14px;
        padding:8px;
    }
}


@media (max-width: 760px) {
    .bg{
        height: 90vh
    }

    .topmenu{
        display: none;
    }

    

    .mainWrap{
        width:100%;
    }

    .menu{
        display: none;
    }
    
    .mobile-menu{
        display:block;
        padding: 13px;
        overflow: hidden;
        z-index: 2;
        position: fixed;
        top: 0; 
        width: 100%;
    }

    nav{
        width: 100%;
        margin:0;
        background:none;
        overflow: hidden;
        z-index: 1;
        position: fixed;
        margin-top: 40px;
    }

    .menu li{
        display:block;
        margin:0;
    }

    .menu li a {
        background:#ffffff;
        color:#797979;
        border-top:1px solid #e0e0e0;
        border-left:3px solid #ffffff;
    }

    .menu li a:hover, .menu li:hover > a{
        background:#f0f0f0;
        color:#797979;
        border-left:3px solid #9CA3DA;
    }

    .menu ul {
        display:block;
        position:relative;
        top:0px;
        left:0;
        width:100%;
    }

    .menu ul{
        display: none;
    }

    .menu ul ul {
        display: none;
    }

    .menu ul ul {
        left:0;
        margin-top: 10px;
    }

    #search_hide{
        display: none;
    }

    .search-container{
        width: 100%;
        background: #3E4156;
        margin: 0px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-container input{
        width: 300px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #9CA3DA;
    }

    .search-container button {
        padding: 9px 14px;
    }

    .topmenu .search-container input{
        width: 150px;
    }

    .container{
        flex-wrap: wrap;
    }

    .main-container{
        margin: 0px;
    
    }

    .main-content .img{
        width: 139px;
        height: 122px;
    }

    .main-content .info .right {
        margin-left: 97px;
    }       

    .main-content .info .left {
        width: 156px;
        float: left;
    }

    .main-content .info .right .category {
        padding-left: 4px;
    }

    .main-content .info .left div {
        padding-left: 5px;
    }

    .main-content .info .right a.more {
        margin-top: 15px;
        margin-right: 9px;
    }

    aside{
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
        max-width: 370px;
    }

    aside .title_{
        max-width: 332px;
    }

    .container_f{
        display: block;
    }

}