body {
  font-family: "Raleway", sans-serif;
  color: #444444;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #d987e3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ff7f5d;
  border-top-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgba(21, 5, 23, 0.8);;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgb(21 5 23 / 51%);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgb(24 22 24);
  transition: all 0.5s;
  z-index: 997;
  position: relative;
  height: 70px;
}

@media (max-width: 992px) {
  #header {
    height: 60px;
  }
}

#header.fixed-top,
#header.header-inner-pages {
  background: rgb(68 55 69);
}

#header.fixed-top {
  position: fixed;
}

#header .logo {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

.logo_color{
  color: #d987e3;
}


.mobile-show-logo{
  display: none;
}

.mobile-show-logo-footer{
  display: block;
  font-weight: 700;
  text-transform: uppercase
}

.mobile-show-logo-color-footer{
  color: #d987e3;
}


@media (max-width: 991px) {
  .scrolled-offset {
    margin-top: 60px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 12px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  transition: 0.3s;
  color: white;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: #d987e3;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 12px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;

}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #150517;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #d987e3;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #150517;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #d987e3;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #d987e3;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


/**
* Search content
*/

.search_content{
    position: relative;
    align-items: center;
    transition: all 1s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    margin-left: 48px;
}

.search_content input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 31px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 10px;
}

.search_content .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    margin-top: -1px;
}

.search_content:hover{
    width: 200px;
    cursor: pointer;
}

.search_content:hover input{
    display: block;
}

.search_content:hover .fa{
    background: #07051a;
    color: white;
}

.expanded {
    width: 200px !important; /* Убедитесь, что ваши стили здесь переопределяют стили :hover */
    cursor: pointer;
}

.expanded input {
    display: block;
}

.expanded .fa {
    background: #07051a;
    color: black;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/1.jpg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -25px;
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: 0px;
  }
}

#hero:before {
  content: "";
  background: rgba(21, 5, 23, 0.5) linear-gradient(rgba(26, 0, 33, 0.5) 0%, rgba(26, 0, 33, 0.5) 5%, rgba(38, 6, 51, 0.5) 40%, rgba(147, 47, 69, 0.7) 76%, rgba(236, 97, 93, 0.7) 94%, rgba(236, 97, 93, 0.5) 100%) repeat scroll 0% 0%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

#hero h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
    background: #d987e3;
    border: 2px solid #d987e3;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 20px;
    line-height: 36px;
    text-align: center;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}


/**
* Анимация текста в хиро 
*/

.fly-in-text {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2s ease, transform 2s ease;
}


.fly-in-button {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 2s ease;
}

.additional-fly-in-text {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 2s ease;
}

/* Показываем элементы с анимацией */
.fly-in-text.show {
  opacity: 1;
  transform: translateX(0);
}

.fly-in-button.show {
  opacity: 1;
  transform: translateX(0);
}

.additional-fly-in-text.show {
  opacity: 1;
  transform: translateX(0);
}


/**
* Main Container
*/

.container_ {
    background:#f4f4f4;
    max-width: 100%;
    display: flex;
    justify-content: center; /* Распределение между .main-container и .sidebar */
}


.main-container {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    box-sizing: border-box; /* Учитывать padding в общей ширине блока */
}

.main-content {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-sizing: border-box; /* Учитывать padding в общей ширине блока */
    margin-bottom: 15px;
    border-radius: 0.375rem;
    color: #817F7F;
}


.main-content .img{
    max-width: 170px;
    float: left;
    margin-right: 15px;
}

.main-content .img img {
    border-radius: 2px;
    max-width: 100%;
    height: auto;
}

.main-content h2 a:hover{
    color: #9CA3DA;
}

.main-content .info {
    width: 100%;
    margin-top: 3px;
    float: left;
    font-family: 'pt_sans_narrowregular';
    font-size: 14px;
}

.main-content .info .left {
    width: 184px;
    float: left;
}


.main-content .info .left div {
    float: left;
    padding-left: 10%;
}


.main-content .info .left div img {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-right: 10px;
}

img {
    border: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.main-content .info .right {
    margin-left: 184px;
}

.main-content .info .right .views {
    float: left;
    color: #474747;
    background: url(images/vie.png) no-repeat 0 1px;
    font-size: 14px;
    margin-right: 15px;
}


.main-content .info .right .category {
    float: left;
    color: #474747;
    background: url(images/icon_category.png) no-repeat 0 1px;
    padding-left: 24px;
    font-size: 14px;
}

.main-content .info .right .category a {
    color: #474747;
    font-size: 14px;
}


.main-content .info .right a.more {
    background: rgb(21 5 23 / 64%);
    color: #fff;
    padding: 7px 10px 7px;
    border-radius: 0.375rem;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin-top: -4px;
}


.main-content .info .right .more:hover{
    background-color: rgb(21 5 23);
}


.main-content  a {
    font-size: 21px;
    margin-bottom: 5px;
    line-height: 1.2em;
    font-weight: normal !important;
}


.main-content h2 {
    color: #474747;
    font-size: 23px;
    font-weight: normal;
    margin: 13px 0;
    line-height: 1.23em;
    font-family: 'pt_sansbold';
    text-align: left;
}

.main-content h2 a{
    text-decoration: none;
    color: #19a0d8;
}

.main-content p {
    margin: 13px 0;
    line-height: 1.2em;
    font-size: 15px;
}

.main-content p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/**
* Swiper
*/

.swiper {
    width: 100%;
}

.swiper-slide {
      font-size: 10px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.swiper-slide a{
    color: black;
    font-size: 18px;
}

.swiper-slide p{
  text-align: left;
}

.swiper-slide-box{
    width: 100%;
    background: #fff;
    border-radius: 0.375rem;
    padding: 20px 30px 20px 30px;
}

.title-swipe{
  display: flex;
  justify-content: space-between;
  font-size: 18px;

}

.btn-primary{
  background: #d7d7d763;
  border: 1px solid #44374563;
  border-radius: 0.375rem;
}

.btn-primary:hover{
  background: #44374564;
  border: 1px solid #443745c7;
}




/**
* Pagination
*/

.pagin{
  margin-top: 20px;
  margin-bottom: 20px
}


.active>.page-link, .page-link.active {
    background-color: #443745;
    border-color: #353345;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/**
* View
*/

.aligncenter {
    position: relative;
    margin: 15px auto;
    border: 1px solid #d9d9d9;
    background: #fff;
    padding: 5px;
    display: block;
    clear: both;
}


@media screen and (max-width: 1230px)
.aligncenter {
    max-width: 90%;
    height: auto;
}

article{
  padding: 20px;
}

article .info_view .soc {
    float: left;
}

article .info_view .right {
    float: right;
    color: #474747;
    font-family: 'pt_sans_narrowregular';
    position: relative;
    top: 6px;
}

.main-content .info_view{
  padding: 10px;
}


/**
* Aside
*/

aside {
    margin-top: 50px;
    width: 100%;
    max-width: 300px; /* Ограничиваем максимальную ширину сайдбара */
    background-color: #fff;
    box-sizing: border-box; /* Учитывать padding в общей ширине блока */
    border-radius: 0.375rem;
    height: 1100px;
}


aside .title_ {
    width: 100%;
    max-width: 300px;
    padding: 10px 5% 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'pt_sansbold';
    background: rgba(21, 5, 23, 0.8);;
    box-shadow: 0 0 1px 1px #3E4156;
    color: #fff;
    border-radius: 0.375rem 0.375rem 0 0;
}

/**
* Article list
*/

.article_list{
    margin: 20px;
}

.article_list a{
    color: #817F7F;
    font-size: 13px;
    text-decoration: none;
}

.article_list a:hover{
    color: #9CA3DA;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("../img/1-1.png") center center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(21, 5, 23, 0.5) linear-gradient(rgba(26, 0, 33, 0.5) 0%, rgba(26, 0, 33, 0.5) 5%, rgba(38, 6, 51, 0.5) 40%, rgba(147, 47, 69, 0.7) 76%, rgba(236, 97, 93, 0.7) 94%, rgba(236, 97, 93, 0.5) 100%) repeat scroll 0% 0%;
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ed143c;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #d987e3;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ff7f5d;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #000000;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;

  }

  #footer .credits {
    padding-top: 5px;
  }
}


@media (max-width: 760px) {

    #header .logo{
        margin-bottom: 6px;
        display: none;
    }

    #header .logo a {
        font-size: 18px;
        text-transform: none;
    }

    .mobile-show-logo{
      display: block;
    }

    .mobile-show-logo-color{
      color: #d987e3;
    }

    .mobile-show-logo-footer{
      display: block;
    }

    .mobile-show-logo-color-footer{
      color: #d987e3;
    }

    .logo_color {
      font-size: 18px;
    }

    .d-flex {
      display: flex!important;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    form{
        margin-right: 5px;
    }
    
    .container_{
        flex-wrap: wrap;
    }

    .main-container{
        margin: 0px;
        margin-top: 10px;
    }

    .main-content{
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .main-content .img{
        width: 139px;
        height: 122px;
    }

    .main-content .info .right {
        margin-left: 97px;
    }       

    .main-content .info .left {
        width: 156px;
        float: left;
    }

    .main-content .info .right .category {
        padding-left: 4px;
    }

    .main-content .info .left div {
        padding-left: 5px;
    }

    .main-content .info .right a.more {
        margin-top: 15px;
        margin-right: 6px;
    }

    .aligncenter {
        max-width: 100%;
        height: auto;
    }

    aside{
        display: block;
        margin-top: 15px;
        margin-bottom: 20px;
        max-width: 100%;
        height: 979px;
    }

    aside .title_{
        max-width: 100%;
    }

    .swiper-slide-box{
      width: 410px;
      margin-top: 20px;
    }

    .btn-primary {
      display: none;
    }

    .swiper-slide a {
      color: black;
      font-size: 15px;
    }

    .swiper-slide p{
      text-align: left;
    }

    .swiper-slide img {
      height: 120px;
    }

    .title-swipe h3{
      font-size: 20px;
    }

}